body {
    font-family: "Roboto";
    margin: 0;
}

.section1,
.footer {
    background-color: #1F2937;
    color: #F9FAF8;
}

.logo {
   font-size: 24px; 
}

.list_header,
.subtext {
    list-style-type: none;
}

.main_title {
    font-size: 48px;
    font-weight: bold;
}

.subtext {
    font-size: 18px;
    color: #E5E7EB;
    display: flex;
    gap: 10px;
    justify-content: center;
}

.subsub {
    width: 110px;
    height: 110px;
    text-align: center;
}

button,
.blue {
    background-color: #3882F6;
    color: #F9FAF8;
}

.random {
    font-size: 36px;
    font-weight: bold;
    color: #1F2937;
}

.section3 {
    background-color: #E5E7EB;
    color: #1F2937;
    font-size: 36px;
    font-style: italic;
    display: flex;
    justify-content: center;
    align-items: center;
}

.subimage {
    display: flex;
    gap: 10px;
    justify-content: center;
}

.sub {
    border: solid 5px;
    border-color: #3882F6;
    width: 100px;
    height: 100px;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}

.list_header {
    display: flex;
    gap: 10px;
}


.blue {
    display: flex;
    justify-content: space-around;
    margin: 100px 500px;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.blued {
    display: flex;
    align-items: center;
}

.section2 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}