body {
    font-family: "Roboto";
    margin: 0;
}

.section1,
.footer {
    background-color: #1F2937;
    color: #F9FAF8;
    padding-left: 100px;
    padding-right: 100px;
}

.logo {
   font-size: 24px; 
}

.list_header,
.subtextl {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.main_title {
    font-size: 48px;
    font-weight: bold;
}

.subtextl {
    font-size: 18px;
    color: #9e9ea5;
    display: flex;
    gap: 10px;
    justify-content: center;
}

.subsub {
    width: 110px;
    height: 110px;
    text-align: center;
}

button,
.blue {
    background-color: #3882F6;
    color: #F9FAF8;
    border-radius: 5px;
    border: 2px double white;
}

.random {
    font-size: 36px;
    font-weight: bold;
    color: #1F2937;
}

.section3 {
    background-color: #E5E7EB;
    color: #1F2937;
    font-size: 36px;
    display: flex;
    flex-direction: column;
    padding: 100px 200px;
}

.quote {
    font-style: italic;
}

.author {
    font-weight: bold;
    text-align: right;
}

.subimage {
    display: flex;
    gap: 10px;
    justify-content: center;
}

.sub {
    border: solid 5px;
    border-color: #3882F6;
    width: 100px;
    height: 100px;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}

.list_header {
    display: flex;
    gap: 10px;
}


.blue {
    display: flex;
    justify-content: space-around;
    margin: 100px 500px;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.blued {
    display: flex;
    align-items: center;
}

.section2 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.explain {
    display: flex;
    justify-content: space-between;
}

.gauche {
    display: flex;
    flex-direction: column;
    margin-bottom: 200px;
}

.droite {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px;
    background-color: #535455;
    height: 100px;
    width: 300px;
}

.sign {
    width: 100px;
}