body {
    font-family: "Roboto";
}

.section1,
.footer {
    background-color: #1F2937;
    color: #F9FAF8;
}

.logo {
   font-size: 24px; 
}

.list_header,
.subtext {
    list-style-type: none;
}

.main_title {
    font-size: 48px;
    font-weight: bold;
}

.subtext {
    font-size: 18px;
    color: #E5E7EB;
}

button,
.blue {
    background-color: #3882F6;
    color: #F9FAF8;
}

.random {
    font-size: 36px;
    font-weight: bold;
    color: #1F2937;
}

.section3 {
    background-color: #E5E7EB;
    color: #1F2937;
    font-size: 36px;
    font-style: italic;
}